---
interface Props {
	secondary: boolean;
	title: string;
	body: string;
	href: string;
	img: string;
}
import "./style.scss";

const {
	img = "cardImg.png",
	secondary,
	title = "Business Card",
	body = `	From marketing strategies to the latest industry insights,
				our resources are designed to be your guiding light in the
				world of visual storytelling. We're dedicated to helping
				businesses harness the true potential of video content to
				connect with their audience, drive conversions, and
				elevate their brand presence.`,
} = Astro.props;
---

<div class:list={["resource-card", { orange: secondary }]}>
	<div class="res-card-detail">
		<div class="card_details">
			<h3>{title}</h3>
			<p>
				{body}
			</p>
		</div>
		<a
			class="res-card-link"
			href="">
			<span class="res-card-link-span">VIEW RESOURCES</span>
			<span>
				<svg
					width="19"
					height="19"
					viewBox="0 0 19 19"
					fill="none"
					xmlns="http://www.w3.org/2000/svg">
					<path
						id="Vector 1"
						d="M17 2L3 16M17 2V15.1765M17 2H3.82353"
						stroke="#101828"
						stroke-width="3"
						stroke-linecap="square"
						stroke-linejoin="bevel"
					></path>
				</svg>
			</span>
		</a>
	</div><div class="resource-card-img">
		<img
			src={`/resources/${img}`}
			alt=""
		/>
	</div>
</div>
