---
import MainLayout from '../../layouts/Layout.astro'
import CardLayout from '../../components/business/CaseStudyCardLayout.astro'
import { BusinessForm } from '../../components/BusinessForm'
import FAQLayout from "../../components/ResourcesFAQ/FAQLayout.astro";
import SocialProof from "../../components/SocialProof.astro";
import './business.scss'
---

<MainLayout title="For Businesses">
	<main class="flex flex-col justify-center items-center">
    <section class="business-title-card">
			<h1 class="business-title font-redhat">For <span>Businesses</span></h1>
			<p class="business-desc font-noto">We offer a rich palette of services designed to meet the diverse needs of businesses. Whether it's unveiling a new product, igniting your brand's presence, or enhancing internal communications, our video editing services are tailored to your specific objectives.</p>
		</section>
		<section class="corporate-service-section">
			<div>
				<div class="corporate-title-container">
					<h2 class="corporate-title font-redhat">Our Palette of <span>Corporate</span> Video Services</h2>
					<p class="corporate-desc font-noto">Unlocking the Power of Visual Storytelling for Your Business</p>
				</div>
				<div class="business-service-cards">
					<div class="business-service-card">
						<img src="/business-img/business-img-1.png"/>
						<div class="business-service-text font-noto">
							<h3 class="business-service-title">Product <span>Demonstrations</span></h3>
							<p class="business-service-desc">Present your products in their best light with dynamic and engaging demonstrations that showcase their features and benefits.</p>
						</div>
					</div>
					<div class="business-service-card">
						<img src="/business-img/business-img-2.png"/>
						<div class="business-service-text font-noto">
							<h3 class="business-service-title">Promotional <span>Videos</span></h3>
							<p class="business-service-desc">Craft compelling promotional videos that captivate your audience, drive conversions, and enhance brand visibility.</p>
						</div>
					</div>
					<div class="business-service-card">
						<img src="/business-img/business-img-3.png"/>
						<div class="business-service-text font-noto">
							<h3 class="business-service-title"><span>Internal</span> Communications</h3>
							<p class="business-service-desc">Foster strong internal connections through effective video communication, making sure your message resonates with your team.</p>
						</div>
					</div>
				</div>
				<p class="corporate-bottom-text">We believe that every video has a story to tell, and every story has a message that connects. Our corporate video services are not just about visuals; they're about creating a lasting impact on your branding and marketing goals.</p>
				<button class="lets-talk-button font-inter">Let's Talk <img src="/lets-talk-arrow.svg" /></button>
			</div>
		</section>
		<section class="custom-solutions-section">
			<div class="solutions-title-container">
				<p class="solutions-title-text hidden md:block font-noto">WHAT WE CAN DO FOR YOU</p>
				<p class="solutions-title-text block md:hidden font-noto">WHO WE HELP</p>
				<h3 class="solutions-title font-redhat">Custom Solutions for...</h3>
			</div>
			<div class="solution-cards">
				<div class="solution-card bg-[#F2F4F7]">
					<h4 class="solution-card-title">Branding & Marketing</h4>
					<ul class="solution-list">
						<li><img src="/tick-circle.svg"/> Brand Identity Videos</li>
						<li><img src="/tick-circle.svg"/> Product and Service Promotion</li>
						<li><img src="/tick-circle.svg"/> Event Videos</li>
						<li><img src="/tick-circle.svg"/> Recritment and HR Videos</li>
						<li><img src="/tick-circle.svg"/> Training and Educational Videos</li>
						<li><img src="/tick-circle.svg"/> And many more</li>
					</ul>
					<p>We&apos;re here to help you. Reach out to us as soon as possible!</p>
				</div>
				<div class="solution-card bg-[#fcece7]">
					<h4 class="solution-card-title font-noto">Digital Marketing</h4>
					<ul class="solution-list">
						<li><img src="/tick-circle.svg"/> Social Media Videos</li>
						<li><img src="/tick-circle.svg"/> Ad Campaign Videos</li>
						<li><img src="/tick-circle.svg"/> Content Marketing Videos</li>
						<li><img src="/tick-circle.svg"/> Email Marketing Videos</li>
						<li><img src="/tick-circle.svg"/> YouTube and Online Video Content</li>
						<li><img src="/tick-circle.svg"/> And many more</li>
					</ul>
				</div>
			</div>
		</section>
		<section class="impact-business-section">
			<div class="impact-title-container">
				<h3 class="impact-title font-redhat">Our Impact on Businesses</h3>
				<p class="impact-desc font-noto">Stories of transformation, engagement, and success.</p>
			</div>
			<div class="impact-stats">
				<div>
					<h4 class="stats-number font-redhat">3000<span>+</span></h4>
					<p class="stats-desc font-noto">Businesses Empower</p>
				</div>
				<div>
					<h4 class="stats-number font-redhat">50<span>%</span></h4>
					<p class="stats-desc font-noto">Growth In Online Engagement</p>
				</div>
				<div>
					<h4 class="stats-number font-redhat">100m<span>+</span></h4>
					<p class="stats-desc font-noto">Total Views</p>
				</div>
			</div>
			<p class="impact-desc font-noto lg:w-[43.875rem] md:w-[41.375rem] w-[22.375rem]  text-center">These figures reflect the tangible results we deliver to businesses across diverse sectors. Our video editing and storytelling expertise drive growth and success</p>
		</section>
		<section class="case-studies-section">
			<div class="case-studies-title-container">
				<h3 class="case-studies-title font-redhat">Case <span>Studies</span></h3>
				<p class="case-studies-desc font-noto">Stories of transformation, engagement, and success.</p>
			</div>
			<CardLayout client:load />
		</section>
		<section class="elevating-your-brand-section">
			<div>
				<div class="elevating-your-brand-title-container">
					<h3 class="elevating-your-brand-title font-redhat"> Elevating Your Brand&apos;s Identity</h3>
					<p class="elevating-your-brand-desc font-noto">Your brand&apos;s identity is at the core of your business, and it&apos;s our privilege to enhance it through video storytelling. We believe that video is the medium that connects brands to their audience, and we're here to craft your unique narrative.</p>
				</div>
				<div class="elevating-your-brand-lower-container">
					<div />
					<p>Our expertise in video storytelling goes beyond the visual. It&apos;s about weaving a narrative that speaks directly to your audience, creating a connection that goes beyond words. With tifi.tv, your branding and marketing efforts are not just campaigns; they&apos;re stories waiting to be told.</p>
				</div>
			</div>
		</section>
		<section class="business-form-section">
			<div class="business-title-container">
				<h3 class="lg:block hidden">LET&apos;S CREATE SOMETHING TOGETHER</h3>
				<h3 class="lg:hidden md:block hidden">LET US KNOW HOW WE CAN HELP YOU.</h3>
				<h3 class="md:hidden block">LET&apos;S <span class="text-[#FF601F]">CREATE</span> SOMETHING SPECIAL TOGETHER</h3>
				<p class="lg:block hidden">It's time to turn your vision into reality. The possibilities are endless when it comes to visual storytelling. If you're ready to embark on a project that can transform your business, we're here to make it happen.</p>
				<p class="lg:hidden block">In just 48 hours, our experts will meticulously assess your video content and reveal untapped opportunities for enhancing your <span class="font-bold">brand</span> and visual storytelling.</p>
			</div>
			<div class="business-form-container">
				<BusinessForm client:load />
			</div>
		</section>
		<FAQLayout client:load />
		<SocialProof client:load />
	</main>
</MainLayout>