---
import MainLayout from '../../layouts/Layout.astro'
import './business.scss'
---

<MainLayout title="For Businesses">
	<main class="business flex justify-center">
    <section class="business-title-card">
			<h1 class="business-title font-redhat">For <span>Businesses</span></h1>
			<p class="business-desc font-noto">We offer a rich palette of services designed to meet the diverse needs of businesses. Whether it's unveiling a new product, igniting your brand's presence, or enhancing internal communications, our video editing services are tailored to your specific objectives.</p>
		</section>
		<section>
			<h2>Our Palette of Corporate Video Services</h2>
			<p></p>
		</section>
	</main>
</MainLayout>