<div class="wrapper py-24 h-[763px] max-w-6xl my-0 mx-auto">
    <section
      id="hero"
      class="max-w-[73rem] -my-6 mx-auto  grid gap-4 place-content-center text-center mb-6"
    >
      <h2 class="max-w-[52.5rem] font-bold text-xl capitalize md:text-5xl lead">
        Case<span class="text-orange"> Studies</span>
      </h2>
      <p class="max-w-[720px] mt-2 mx-auto text-base">
        Explore some of our standout projects, each representing a unique facet of our video editing and storytelling expertise. These projects transcend mere videos; they're captivating narratives that inspire and make an impact.
      </p>
    
    </section>
      <div class="flex md:flex-row flex-col max-w-6xl m-auto gap-4">
        <div class="max-w-sm mx-auto bg-white rounded-sm shadow-sm overflow-hidden">
          <div class="max-w-[350px] px-6 py-8">
        <h1>City Vibes Unveiled</h1>
        <p class="p2 mt-4 text-md">The project garnered over 1 million views and sparked a 20% increase in travel bookings for our client.a strong connection to the featured cities.</p>
        <button class="m-auto w-full"><a href="">LEARN MORE</a>
        <img src="/learn-icon.svg" alt="">
        </button>
          </div>
        </div>
        <div class="max-w-sm mx-auto bg-white rounded-sm shadow-sm overflow-hidden">
          <div class="max-w-[350px] px-6 py-8">
        <h1>Wanderlust Chronicles</h1>
        <p class="p2 mt-4 text-md">The series achieved a 30% increase in viewer engagement, with viewers expressing a strong connection to the featured cities.</p>
        <button class="m-auto w-full"><a href="">LEARN MORE</a>
        <img src="/learn-icon.svg" alt="">
        </button>
          </div>
        </div>
        <div class="max-w-sm mx-auto bg-white rounded-sm shadow-sm overflow-hidden">
          <div class="max-w-[350px] px-6 py-8">
        <h1>A Lifetime in a Day</h1>
        <p class="p2 mt-4 text-md">The video left a lasting impression, with heartfelt reactions from viewers and 50,000 shares across social media platforms.</p>
        <button class="m-auto w-full"><a href="">LEARN MORE</a>
        <img src="/learn-icon.svg" alt="">
        </button>
          </div>
        </div>
  </div>

  <style>
    .wrapper{
        background: var(--gray-300, #F2F4F7);
        height: 663px;
    }
    h1{
        color: black;
font-family: Noto Sans;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 160%;
    }
    p2{
        color:black;
font-family: Noto Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%;
    }

    button{
        display: flex;
padding: 10px 20px;
margin-top: 80px;
justify-content: center;
align-items: center;
gap: 12px;
align-self: center;
border-radius: 4px;
border: 1px solid var(--gray-500, #D0D5DD);
/* Cloudy */
box-shadow: 0px 14px 16px 0px rgba(29, 41, 57, 0.05);
    }
  </style>