---

---

<section id="hero" class="max-w-[63rem] mx-auto h-[28rem] p-4 grid gap-4 place-content-center text-center md:py-[15rem]">
    <h1 class="max-w-[52.5rem] font-bold text-3xl capitalize md:text-6xl lead">For <span class="text-orange"> Individuals</span></h1>
    <p class="max-w-[820px] mt-2 mx-auto text-base ">In the realm of video creativity, every frame is a canvas, and we're here to help you paint your stories. Welcome to tifi.tv, where we cater to the unique needs of content creators, travelers, vloggers, and individuals with a passion for visual storytelling.</p>
   
</section>

<style>
 section{
     border-radius: 16px;
background: linear-gradient(180deg, rgba(234, 236, 240, 0.00) 35.1%, #EAECF0 100%);
 }
</style>