
<section class=' m-auto max-w-[1100px]'>
    <h3 class="text-center mt-24 text-orange font-noto">WHAT WE CAN DO FOR YOU</h3>
    <h1 class='font-redhat mt-8'>Custom Solutions for...</h1>
    <div class="flex flex-col md:flex-row gap-12 space-between mt-14 mx-auto">
    <div class='box1 w-[520px] h-[320px] p-4 m-auto'>
        <h2 class='font-redhat'>Personal Vlogs & Lifestyle</h2>

        <ul class='font-noto'>
            <li class='flex gap-2'><img src='/tick-circle2.svg' class='w-6 h-6' alt='tick'> Vlog Editing</li>
              <li class='flex gap-2'><img src='/tick-circle2.svg' class='w-6 h-6' alt='tick'>Traveling Vlogs</li>
              <li class='flex gap-2'><img src='/tick-circle2.svg' class='w-6 h-6' alt='tick'>Day-in-the-life Videos</li>
              <li class='flex gap-2'><img src='/tick-circle2.svg' class='w-6 h-6' alt='tick'>Celebration Highlights</li>
              <li class='flex gap-2'><img src='/tick-circle2.svg' class='w-6 h-6' alt='tick'>Family Memories</li>
              <li class='flex gap-2'><img src='/tick-circle2.svg' class='w-6 h-6' alt='tick'>And many more</li> 
        </ul>
            <p class='font-noto'>We’re here to help you. Reach out to us as soon as possible!</p>
    </div>
    <div class='box2  w-[520px] h-[320px] p-4 m-auto'>
        <h2 class='font-redhat'>Content & Personal Branding</h2>

        <ul class='font-noto'>
            <li class='flex gap-2'><img src='/tick-circle2.svg' class='w-6 h-6' alt='tick'>Content & Personal Branding</li>
              <li class='flex gap-2'><img src='/tick-circle2.svg' class='w-6 h-6' alt='tick'>Online Courses and Tutorials</li>
              <li class='flex gap-2'><img src='/tick-circle2.svg' class='w-6 h-6' alt='tick'>Personal Branding Videos</li>
              <li class='flex gap-2'><img src='/tick-circle2.svg' class='w-6 h-6' alt='tick'>YouTube Online Content</li>
              <li class='flex gap-2'><img src='/tick-circle2.svg' class='w-6 h-6' alt='tick'>Video Resumes and Portfolios</li>
              <li class='flex gap-2'><img src='/tick-circle2.svg' class='w-6 h-6' alt='tick'>And many more</li> 
        </ul>
    </div>
    </div>

</section>

<style>
h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 20px;
    text-align: center;
    color: rgba(255, 96, 31, 1);
    font-family: 'noto-sans', sans-serif;
}

h1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 20px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    
}

.box1{
    display: flex;

flex-direction: column;
align-items: flex-start;
gap: 10px;
flex: 1 0 0;
border-radius: 16px;
background-color:var(--gray-300, #F2F4F7);;
}
.box2{
    display: flex;

flex-direction: column;
align-items: flex-start;
gap: 10px;
flex: 1 0 0;
align-self: stretch;
border-radius: 16px;
background: rgba(255, 96, 31, 0.10);

}
h2{
    color: var(--gray-1100, #101828);
font-family: Noto Sans;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 160%;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
ul li{
    color: var(--gray-1000, #1D2939);
font-family: Noto Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
}
p{
    color: var(--gray-1000, #1D2939);
font-family: Noto Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%;
}

</style>