<section class="wrapper mt-16">
<section class="wrapper2 md:px-24 py-16">
  <div>
    <section
      id="hero"
      class=" mx-auto p-4 grid gap-4 place-content-center text-center mb-6"
    >
      <h1 class="max-w-[52.5rem] font-bold text-xl capitalize md:text-5xl lead">
        Unlock Your <span class="text-orange"> Creative</span> Potential
      </h1>
      <p class=" mt-2 mx-auto text-base">
        Whether you're documenting your travels, sharing your daily adventures,
        or building your personal brand, we're here to help.
      </p>
    </section>
  </div>

  <div class="flex md:flex-row flex-col max-w-6xl m-auto gap-6">
    <div class="max-w-sm mx-auto  bg-white rounded-xl shadow-md overflow-hidden">
      <div class="max-w-sm ">
        <div class="">
          <img
            class=" w-full object-cover"
            src="/potential1.svg"
            alt="Modern building architecture"
          />
        </div>
        <div class="p-8">
          <h2 class="text-center mt-1 leading-tight text-black">
            <span>Professional</span> Quality
          </h2>
          <p class="mt-2 text-center text-slate-500">
            You can achieve professional-level video content that rivals that of
            larger productions, ensuring a high-quality end product.
          </p>
        </div>
      </div>
    </div>

    <div class="max-w-sm mx-auto bg-white rounded-xl shadow-md overflow-hidden">
      <div class="max-w-sm">
        <div class="">
          <img
            class=" w-full object-cover"
            src="/potential2.svg"
            alt="Modern building architecture"
          />
        </div>
        <div class="p-8">
          <h2 class="text-center mt-1 leading-tight text-black">
            <span>Improved</span> Engagement
          </h2>
          <p class="mt-2 text-center text-slate-500">
            Professional videos tend to engage and captivate audiences more
            effectively, helping you connect with your viewers.
          </p>
        </div>
      </div>
    </div>

    <div class="max-w-sm mx-auto bg-white rounded-xl shadow-md overflow-hidden">
      <div class="max-w-sm">
        <div class="">
          <img
            class="w-full object-cover"
            src="/potential3.svg"
            alt="Modern building architecture"
          />
        </div>
        <div class="p-8">
          <h2 class="text-center mt-1 leading-tight text-black">
            <span>Personal</span> Branding
          </h2>
          <p class="mt-2 text-center text-slate-500">
            Benefit from your our support in creating videos that enhance
            personal brand, helping you stand out in the digital landscape.
          </p>
        </div>
      </div>
    </div>
  </div>
    
  <p class="max-w-[720px] mt-8 mx-auto text-center  text-base">
    With tifi.tv, your creative vision transforms into captivating visual stories.
  </p>
  <button class="flex gap-2 items-center w-fit mt-4 p-3 mx-auto bg-orange font-bold text-white uppercase">
  <a href="" class="">
   LETS TALK
</a>
<img src="/button arrow.svg" alt="">
</button>
</section>
</section>
<style>
  h2 span {
    color: #ff601f;

    text-align: center;
    font-family: Noto Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
  }
  h2 {
    color: var(--gray-1100, #101828);
    font-family: Noto Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
  }
  .wrapper{
    background: var(--gray-300, #F2F4F7);;

  }
  .wrapper2 {
    background: url('/potential-bg.svg') no-repeat;

  }
  /* p{
    color: var(--gray-1000, #1D2939);
text-align: center;
font-family: Noto Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%;
  } */
  
</style>
