---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HeroSection from '../components/home/HeroSection.astro';
import CompaniesSection from '../components/SocialProof.astro';
import ServicesSection from '../components/home/ServicesSection.astro';
import PorfolioSection from '../components/home/PortfolioSection.astro';
import VisionSection from '../components/home/VisionSection.astro';
import ProcessSection from '../components/home/ProcessSection.astro';
import CurationSection from '../components/home/CurationSection.astro';
import CarouselSection from '../components/home/CarouselSection.astro';
import ContactSection from '../components/home/ContactSection.astro';
import ExploreSection from '../components/home/ExploreSection.astro';
import FAQSection from '../components/home/FaqSection.astro';
import Card from '../components/Card.astro';
---

<Layout title="Tifi">
	<!-- <Header /> -->
	<main class="font-redhat">
		<HeroSection />	
		<CompaniesSection />
		<ServicesSection />
		<PorfolioSection />
		<VisionSection />
		<ProcessSection />
		<CurationSection />
		<CarouselSection />
		<ContactSection />
		<ExploreSection />
		<FAQSection />
		<CompaniesSection />
	</main>
</Layout>