---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HeroSection from '../components/individuals/CTA.astro';
import Potential from '../components/individuals/Potential.astro';
import CustomSolution from '../components/individuals/CustomSolutions.astro';
import CaseStudy from '../components/individuals/CaseStudy.astro';

---

<Layout title="Tifi">
	<!-- <Header /> -->
	<main class="font-redhat">
		<HeroSection />	
		<Potential />
		<CustomSolution />
		<CaseStudy />
	</main>
</Layout>