---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro.tsx';
import HeroSection from '../components/individuals/CTA.astro';
import Potential from '../components/individuals/Potential.astro';
import CustomSolution from '../components/individuals/CustomSolutions.astro';
import CaseStudy from '../components/individuals/CaseStudy.astro';
import SocialSection from '../components/SocialProof.astro';
import FAQLayout from "../components/ResourcesFAQ/FAQLayout.astro";
import {IndividualForm} from "../components/individualform2.tsx";
---

<Layout title="Tifi">
	
	<main class="font-redhat flex flex-col gap-10">
		<HeroSection />	
		<Potential />
		<CustomSolution />
		<CaseStudy />
		<div class="md:mx-10 mx-3"><FAQLayout /></div>
		
		<IndividualForm client:load />
		<SocialSection />
		
	</main>
</Layout>