---
import MainLayout from "../../layouts/Layout.astro";
import "../../components/resources-module/styles.scss";
import Card from "../../components/RessourcesCard/index.astro";
import FAQ from "../../components/ResourcesFAQ/FAQ.astro";
import { FormContainer } from "../../components/FormContainer";
import FAQLayout from "../../components/ResourcesFAQ/FAQLayout.astro";
import CompaniesSection from "../../components/home/CompaniesSection.astro";
import SocialProof from "../../components/SocialProof.astro";

const videos = [{}, {}, {}, {}, {}, {}];
---

<MainLayout title="Resources">
	<section class="resources-hero">
		<!-- Hero Section -->
		<div class="resources-container">
			<h1 class="font-black text-[#101828]"
				>Resources and <span class="text-[#FF601F]">
					Insights</span
				></h1
			>
			<p class="text-[#1D2939]"
				>The latest industry news, technologies, and resources.</p
			>
			<div class="resources-hero-search">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="20"
					height="20"
					viewBox="0 0 20 20"
					fill="none">
					<path
						d="M17.5 17.5L13.875 13.875M15.8333 9.16667C15.8333 12.8486 12.8486 15.8333 9.16667 15.8333C5.48477 15.8333 2.5 12.8486 2.5 9.16667C2.5 5.48477 5.48477 2.5 9.16667 2.5C12.8486 2.5 15.8333 5.48477 15.8333 9.16667Z"
						stroke="#667085"
						stroke-width="1.66667"
						stroke-linecap="round"
						stroke-linejoin="round"
					></path>
				</svg>
				<input
					type="text"
					placeholder="Search"
				/>
			</div>
		</div>
	</section>

	<section
		class="res-featured"
		aria-labelledby="res-featured">
		<!-- Features -->

		<div class="resources-container">
			<div class="res-tab-container">
				<div class="res-tab">
					<span class="res-tab-title active">
						<p>Video Editing Tips</p>
					</span>
					<span class="res-tab-title">
						<p>Creative Storytelling</p>
					</span>
					<span class="res-tab-title">
						<p>Industry Insights</p>
					</span>
					<span class="res-tab-title">
						<p>Video Marketing</p>
					</span>
				</div>
				<div class="res-select">
					<select
						name="drop"
						id="">
						<option value="">Newst First</option>
						<option value="">Newst First</option>
						<option value="">Newst First</option>
						<option value="">Newst First</option>
					</select>
					<select
						name="drop"
						id="">
						<option value="">Newst First</option>
						<option value="">Newst First</option>
						<option value="">Newst First</option>
						<option value="">Newst First</option>
					</select>
				</div>
			</div>
			<h2 id="featured">Featured</h2>

			<div class="res-videos">
				<!-- Video -->
				{
					videos.map((video) => (
						<div class="res-video">
							<iframe
								class="v"
								height="210"
								src="https://www.youtube.com/embed/OR05gnlvTHY?si=BDf0wFckDIiQlzqk&controls=0"
								title="YouTube video player"
								frameborder="0"
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
								allowfullscreen
							/>

							<div class="video-des">
								<h4 class="des-tag1">Video Editing</h4>
								<div class="des-tag2">
									<span>Time lapse and Mapping</span>
									<span>
										<svg
											xmlns="http://www.w3.org/2000/svg"
											width="19"
											height="19"
											viewBox="0 0 19 19"
											fill="none">
											<path
												d="M17 2L3 16M17 2V15.1765M17 2H3.82353"
												stroke="#1D2939"
												stroke-width="3"
												stroke-linecap="square"
												stroke-linejoin="bevel"
											/>
										</svg>
									</span>
								</div>
								<p class="des-body">
									We harness cutting-edge technology to capture the
									dynamic evolution of landscapes, cityscapes, and
									more.
								</p>
							</div>
						</div>
					))
				}
			</div>
		</div>
	</section>

	<section
		aria-label="card"
		class="cards">
		<!-- Resources -->
		<div class="resources-container">
			<header>
				<h3>WHAT WE CAN DO FOR YOU</h3>
				<h2>Custom Solutions for...</h2>
			</header>
			<Card />
			<Card
				secondary={true}
				title="Individuals"
				body={`Whether you're a content creator, a filmmaker, or someone with a passion for video, our resources are designed to be your creative compass. We're here to help you turn your vision into captivating reality, enhancing your storytelling, and making every frame count.`}
				href=""
				img="individual.png"
			/>
		</div>
	</section>
	<section
		aria-labelledby="res-contact"
		class="res-contact">
		<header class="res-header">
			<h2 id="res-contact"
				>Let's <span class="orange">create</span> something
				special together.</h2
			>
			<p
				>In just 48 hours, our experts will meticulously assess
				your video content and reveal untapped opportunities for
				enhancing your brand and visual storytelling.</p
			>
		</header>

		<div class="">
			<FormContainer client:load />
		</div>
	</section>
	<FAQLayout />
	<SocialProof />
</MainLayout>
