<section class="py-16 xl:py-[12rem]">
    <div class="max-w-[77rem] mx-auto grid gap-6 xl:grid-cols-3">
        <div class="col-span-full text-center">
            <p class="text-orange md:block font-noto font-bold text-base md:text-xl">OUR REPUTATION</p>
            <h2 class="my-4 font-semibold text-2xl md:text-4xl lg:text-6xl">Why our Clients love us</h2>
        </div>
    </div> 

    <div class="carousel mt-10 py-6 flex gap-4 overflow-scroll justify-center items-center">
        <div class="min-w-[18rem] sm:min-w-[27.85rem] bg-white p-6 rounded-lg text-2xl text-gray-1100 hover:bg-gray-1100 hover:text-white md:text-3xl">
            <span class="text-orange italic">"</span>
            <p class="mt-4">They pull it off, again and again</p>
    
            <div class="py-4 flex gap-2 justify-start items-center">
                <div class="w-12 h-12 bg-[#D9D9D9] rounded-full"></div>
                <div class="grid ">
                    <span class="text-sm md:text-base">Barry Bones</span>
                    <span class="text-xs text-gray-500 md:text-sm">MTN</span>
                </div>
            </div>
        </div>

        <div class="min-w-[18rem] sm:min-w-[27.85rem] bg-white p-6 rounded-lg text-2xl text-gray-1100 hover:bg-gray-1100 hover:text-white md:text-3xl">
            <span class="text-orange italic">"</span>
            <p class="mt-4">Absorbed our model immediately!!</p>
    
            <div class="py-4 flex gap-2 justify-start items-center">
                <div class="w-12 h-12 bg-[#D9D9D9] rounded-full"></div>
                <div class="grid ">
                    <span class="text-sm md:text-base">Stephan Crew</span>
                    <span class="text-xs text-gray-500 md:text-sm">Content Creator</span>
                </div>
            </div>
        </div>

        <div class="min-w-[18rem] sm:min-w-[27.85rem] bg-white p-6 rounded-lg text-2xl text-gray-1100 hover:bg-gray-1100 hover:text-white md:text-3xl">
            <span class="text-orange italic">"</span>
            <p class="mt-4">Took time to learn our business</p>
    
            <div class="py-4 flex gap-2 justify-start items-center">
                <div class="w-12 h-12 bg-[#D9D9D9] rounded-full"></div>
                <div class="grid ">
                    <span class="text-sm md:text-base">Andrew Price</span>
                    <span class="text-xs text-gray-500 md:text-sm">CMBBS</span>
                </div>
            </div>
        </div>

        <div class="min-w-[18rem] sm:min-w-[27.85rem] bg-white p-6 rounded-lg text-2xl text-gray-1100 hover:bg-gray-1100 hover:text-white md:text-3xl">
            <span class="text-orange italic">"</span>
            <p class="mt-4">Genuine and special team members</p>
    
            <div class="py-4 flex gap-2 justify-start items-center">
                <div class="w-12 h-12 bg-[#D9D9D9] rounded-full"></div>
                <div class="grid ">
                    <span class="text-sm md:text-base">Barry Bones</span>
                    <span class="text-xs text-gray-500 md:text-sm">MTN</span>
                </div>
            </div>
        </div>

        <div class="min-w-[18rem] sm:min-w-[27.85rem] bg-white p-6 rounded-lg text-2xl text-gray-1100 hover:bg-gray-1100 hover:text-white md:text-3xl">
            <span class="text-orange italic">"</span>
            <p class="mt-4">They pull it off, again and again</p>
    
            <div class="py-4 flex gap-2 justify-start items-center">
                <div class="w-12 h-12 bg-[#D9D9D9] rounded-full"></div>
                <div class="grid ">
                    <span class="text-sm md:text-base">Andy Curry</span>
                    <span class="text-xs text-gray-500 md:text-sm">AirBnb</span>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    section{
        background: url('/images/carousel-bg.png') 50% 50% no-repeat;
        background-size: cover;
    }
</style>