<section class="companies">
    <p>Join 4,000+ companies already growing</p>
    <img src="/images/airbnb.png" alt="Airbnb">
    <img src="/images/airbnb.png" alt="Airbnb">
    <img src="/images/airbnb.png" alt="Airbnb">
    <img src="/images/airbnb.png" alt="Airbnb">
    <img src="/images/airbnb.png" alt="Airbnb">
    <img src="/images/airbnb.png" alt="Airbnb">
</section>