<section class="mt-12 py-[5rem] grid grid-cols-2 gap-2 gap-y-12 place-items-center bg-[#FF4D002B]">
    <p class="col-span-full font-noto font-medium text-base text-gray-1000">Join 4,000+ companies already growing</p>
    <img src="/images/airbnb.png" alt="Airbnb">
    <img src="/images/airbnb.png" alt="Airbnb">
    <img src="/images/airbnb.png" alt="Airbnb">
    <img src="/images/airbnb.png" alt="Airbnb">
    <img src="/images/airbnb.png" alt="Airbnb">
    <img src="/images/airbnb.png" alt="Airbnb">
</section>