---
import { FormContainer } from "../FormContainer";
---

<section class="mt-12">
    <h2 class="bg-[#101828] px-4 py-[5rem] font-[800] text-5xl text-[#FFFFFF36] text-center uppercase leading-[1.5] md:text-6xl md:text-start md:py-[9rem] xl:text-7xl xl:py-[14rem]">
        <p class="flex flex-col mx-auto md:max-w-[46rem] xl:max-w-[56rem]">
            Like to be among
            <span class="inline-block self-end">our happy clients?</span>
        </p>  
        
    </h2>
    <div class="mb-4 mx-auto p-6 py-12 text-center grid gap-5 md:pt-20 md:max-w-[46rem] xl:max-w-[65rem]">
        <h2 class="font-bold text-3xl uppercase md:text-4xl xl:text-7xl">Let's <span class="text-orange">create</span> something
            special together.</h2
        >
        <p
            >In just 48 hours, our experts will meticulously assess
            your video content and reveal untapped opportunities for
            enhancing your brand and visual storytelling.</p
        >
    </div>
    <FormContainer client:only="react" />
</section>