---
import './style/ExploreSection.scss'
---

<section class="explore-section bg-gray-300">
  <h2 class="md:w-[42rem] xl:w-[53.75rem] mx-auto font-redhat">Explore Our Captivating Content</h2>
  <p class="explore-header-text md:w-[42rem] xl:w-[53.75rem] mx-auto ">Uncover a world where stories come alive, emotions resonate, and visuals speak louder than words. Our captivating content is a journey waiting for you. Join us and experience the magic of tifi.tv.</p>
  <div class="explore-cards max-w-[75rem] mx-auto">
    <div class="explore-card">
      <img src="/images/expectation.png" />
      <div class="details-container">
        <p class="details font-noto">October 12, 2023 | 8 mins | <span>Storytelling</span></p>
        <h3>The Art of Storytelling Through Video</h3>
        <p class="desc">Discover how storytelling isn't just a technique but the heart of compelling video content. Learn how connecting with your audience's emotions can leave a lasting impact on them.</p>
      </div>
    </div>
    <div class="explore-card">
      <img src="/explore-img-1.png" />
      <div class="details-container">
        <p class="details font-noto">October 12, 2023 | 8 mins | <span>Tools</span></p>
        <h3>7 Essential Video Editing Techniques</h3>
        <p class="desc">Discover how storytelling isn't just a technique but the heart of compelling video content. Learn how connecting with your audience's emotions can leave a lasting impact on them.</p>
      </div>
    </div>
    <div class="explore-card">
      <img src="/explore-img-2.png" />
      <div class="details-container">
        <p class="details font-noto">October 12, 2023 | 8 mins | <span>Travel</span></p>
        <h3>The Impact of Color Grading in Video Editing</h3>
        <p class="desc">Discover how storytelling isn't just a technique but the heart of compelling video content. Learn how connecting with your audience's emotions can leave a lasting impact on them.</p>
      </div>
    </div>
  </div>
</section>

