<section id="hero">
    <h1>Crafting visual stories <span> beyond</span> imagination</h1>
    <p>Elevate your brand, Experience the power of storytelling through the lens of creativity and innocation</p>
    <a href="">
        Let's talk
    </a>
</section>