---
import Button from "./Button.astro";

---

<section class="mx-auto mt-10 p-6 grid gap-8 max-w-[77.5rem]">
    <h2 class="col-span-full mx-auto mb-6 font-semibold text-2xl text-gray-1100 text-center md:text-4xl lg:text-5xl lg:max-w-[48rem]">...but what makes us so special...</h2>

    <div class="flex flex-col gap-2 lg:flex-row lg:items-center">
        <div class="grid gap-2 lg:min-w-[28rem] ">
            <span class="font-bold text-5xl text-gray-500">01</span>
            <h3 class="font-medium text-2xl capitalize xl:text-3xl">We <span class="text-orange">craft</span> compelling media</h3>
            <p>We empower you to create captivating stories that resonate with your audience</p>
        </div>

        <div class="w-full">
            <img class="rounded-lg md:hidden" src='./images/portfolio-image-mobile.png' alt=''>
            <img class="hidden w-full rounded-lg md:block" src='./images/portfolio-image.png' alt=''>
        </div>
    </div>

    <div class="flex flex-col gap-2 lg:flex-row lg:items-center">
        <div class="grid gap-2 lg:min-w-[28rem] ">
            <span class="font-bold text-5xl text-gray-500">02</span>
            <h3 class="font-medium text-2xl capitalize xl:text-3xl">We <span class="text-orange">craft</span> compelling media</h3>
            <p>We empower you to create captivating stories that resonate with your audience</p>
        </div>

        <div class="w-full">
            <img class="rounded-lg md:hidden" src='./images/portfolio-image1-mobile.png' alt=''>
            <img class="hidden w-full rounded-lg md:block" src='./images/portfolio-image1.png' alt=''>
        </div>
    </div>

    <div class="flex flex-col gap-2 lg:flex-row lg:items-center">
        <div class="grid gap-2 lg:min-w-[28rem] ">
            <span class="font-bold text-5xl text-gray-500">03</span>
            <h3 class="font-medium text-2xl capitalize xl:text-3xl">We <span class="text-orange">craft</span> compelling media</h3>
            <p>We empower you to create captivating stories that resonate with your audience</p>
        </div>

        <div class="w-full">
            <img class="rounded-lg md:hidden" src='./images/portfolio-image2-mobile.png' alt=''>
            <img class="hidden w-full rounded-lg md:block" src='./images/portfolio-image2.png' alt=''>
        </div>
    </div>
    <Button url="portfolio" text="View Recent Work" classNames="mx-auto border border-gray-600 rounded-lg bg-transparent text-gray-1000" iconPath="/dark-arrow.svg" />
</section>