<section>
    <h2>...but, what makes us so special?</h2>

    <div>
        <span>01</span>
        <h3>We <span>craft</span> compelling media</h3>
        <p>We empower you to create captivating stories that resonate with your audience</p>

        <img src='' alt=''>
    <div>

        <div>
            <span>02</span>
            <h3>We <span>craft</span> compelling media</h3>
            <p>We empower you to create captivating stories that resonate with your audience</p>
    
            <img src='' alt=''>
        <div>

        <div>
            <span>03</span>
            <h3>We <span>craft</span> compelling media</h3>
            <p>We empower you to create captivating stories that resonate with your audience</p>
    
            <img src='' alt=''>
        <div>

        <a href="">View Recent Work</a>
</section>