<section>
    <span>Our process</span>
    <h2>What you can expect...</h2>

    <div>
        <img src="" alt="">
        <h5>Strategic <span>Collaboration</span></h5>
        <p>We collaborate with you to translate your ideas into captivating visual narratives that meet your goals.</p>
    </div>

    <div>
        <img src="" alt="">
        <h5>Strategic <span>Collaboration</span></h5>
        <p>We collaborate with you to translate your ideas into captivating visual narratives that meet your goals.</p>
    </div>

    <div>
        <img src="" alt="">
        <h5>Strategic <span>Collaboration</span></h5>
        <p>We collaborate with you to translate your ideas into captivating visual narratives that meet your goals.</p>
    </div>
</section>