<section class="bg-[#F2F4F7] p-6 py-16 xl:py-24">
    <div class="max-w-[77rem] mx-auto grid gap-6 xl:grid-cols-3">
        <div class="col-span-full text-center">
            <p class="text-orange md:block font-noto font-bold text-base md:text-xl">OUR PROCESS</p>
            <h2 class="my-4 font-semibold text-2xl md:text-4xl lg:text-6xl">What you can expect...</h2>
        </div>
    
        <div class="bg-white rounded-lg grid">
            <img class="w-full rounded-t-lg md:hidden xl:block" src="/images/expectation.png" alt="">
            <img class="hidden w-full rounded-t-lg md:block xl:hidden" src="/images/expectation-tablet.png" alt="">
            <div class="p-6 md:max-w-[33.75rem] mx-auto">
                <h5 class="font-bold text-center md:text-lg">Strategic <span class="text-orange">Collaboration</span></h5>
                <p class="mt-4 text-center">We collaborate with you to translate your ideas into captivating visual narratives that meet your goals.</p>
            </div>
        </div>
    
        <div class="bg-white rounded-lg grid">
            <img class="w-full rounded-t-lg md:hidden xl:block" src="/images/professional.png" alt="">
            <img class="hidden w-full rounded-t-lg md:block xl:hidden" src="/images/professional-tablet.png" alt="">
            <div class="p-6 md:max-w-[33.75rem] mx-auto">
                <h5 class="font-bold text-center md:text-lg">Professional <span class="text-orange">Talent</span></h5>
                <p class="mt-4 text-center">We bring together a pool of skilled video editors, cinematographers, and storytellers who are passionate about their craft.</p>
            </div>
        </div>
    
        <div class="bg-white rounded-lg grid">
            <img class="w-full rounded-t-lg md:hidden xl:block" src="/images/timely.png" alt="">
            <img class="hidden w-full rounded-t-lg md:block xl:hidden" src="/images/timely-tablet.png" alt="">
            <div class="p-6 md:max-w-[33.75rem] mx-auto">
                <h5 class="font-bold text-center md:text-lg"><span class="text-orange">Timely</span> Delivery</h5>
                <p class="mt-4 text-center">We understand the importance of deadlines. Count on us to deliver your projects on time, every time.</p>
            </div>
        </div>
    </div>
</section>