<section>
    <p>
        Your vision
        <span>...is our mission</span>
    </p>

    <div>
        <span>who we help</span>
        <h2>We offer custom solutions for...</h2>

        <div>
            <h3>Businesses and Brands</h3>
            <p>We're dedicated to helping businesses harness the true potential of video content to connect with their audience, drive conversions, and elevate their brand presence.</p>

            <ul>
                <li>Startups</li>
                <li>Startups</li>
                <li>Startups</li>
                <li>Startups</li>
                <li>Startups</li>
                <li>Startups</li>
            </ul>

            <p>We're here to help you. Reach out to us as soon as possible</p>
            <a href="">See businesses</a>
        </div>

        <div>
            <img src="" alt="icon">
            <h3>Individuals</h3>
            <p>Whether you're a content creator, a filmmaker, or someone with a passion for video, we're here to help you turn your vision into captivating reality, enhancing your storytelling, and making every frame count.</p>

            <ul>
                <li>Content Creators</li>
                <li>Content Creators</li>
                <li>Content Creators</li>
                <li>Content Creators</li>
                <li>Content Creators</li>
                <li>Content Creators</li>
            </ul>

            <a href="">See Individuals</a>
        </div>
        
    </div>
</section>