---
import CaseStudyCard from './CaseStudiesCard.astro'
import './CaseStudyCardLayout.scss'
---

<div class="case-study-card-layout">
  <CaseStudyCard />
  <CaseStudyCard />
  <CaseStudyCard />
  <CaseStudyCard />
  <CaseStudyCard />
  <CaseStudyCard />
</div>