---
import './CaseStudiesCard.scss'
---

<div class="case-study-card font-noto">
  <img src="business-img/CaseStudyImg.png"/>
  <div class="case-study-card-text-container">
    <h4 class="case-study-card-title">Wanderlust Chronicles</h4>
    <p class="case-study-card-text">The project garnered over 1 million views and sparked a 20% increase in travel bookings for our client</p>
  </div>
  <button class="case-study-card-button">Learn More <img src="/case-study-card-arrow.svg"/></button>
</div>