---
import FAQ from "./FAQ.astro";
import "./styles.scss";
---

<section class="resources-faq-container">
	<div class="resources-container p-6">
		<header>
			<h2>FAQ</h2>
		</header>
		<div class="res-layout">
			<div class="left">
				<FAQ
					title="What services does tifi.tv offer"
					bigPadding={true}
				/>
				<FAQ
					title="How can I get started with your services?"
					bigPadding={true}
				/>
				<FAQ
					title="What is the typical process when working with tifi.tv?"
					bigPadding={true}
				/>
				<FAQ
					title="Do you have any case studies or success stories to share?"
					bigPadding={true}
				/>
			</div>
			<div class="right">
				<FAQ title="Do you provide custom solutions for unique projects" />
				<FAQ title="Can you provide pricing information for your services?" />
				<FAQ
					title="Can I see examples of your previous work?"
				/>
				<FAQ
					title="What sets tifi.tv apart from other agencies?"
				/>
			</div>
		</div>
	</div>
</section>
