---
interface Props {
	title?: string;
	body?: string;
}

const { title, body } = Astro.props;
---

<details>
	<summary> <div class=""><h3>Hello World</h3></div></summary>
	<div class="">
		Lorem ipsum dolor sit amet consectetur adipisicing elit.
		Dolorem voluptas voluptatem laboriosam expedita natus odio
		rem accusamus enim possimus doloremque esse aliquam aperiam,
		vero maxime alias? Voluptatem perspiciatis qui ad.
	</div>
</details>
</details>


