@use "../../pages/resources/sass/utilities.scss" as *;

.resources-faq {
	max-width: px-to-rem(584px);
	list-style: none;
	user-select: none;
	border-radius: 8px;
	background: var(--gray-300, #f2f4f7);
	padding: px-to-rem(24px);
	transition: all 0.3s;
	summary {
		list-style: none;
		cursor: pointer;
	}
	&-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: px-to-rem(16px);

		h3 {
			color: var(--gray-1000, #1d2939);
			font-feature-settings: "clig" off, "liga" off;
			font-size: 22px;
			font-style: normal;
			font-weight: 700;
			line-height: 28px; /* 127.273% */
		}
	}

	&-body {
		height: 0;
		margin-top: px-to-rem(16px);
		overflow-y: hidden;
		transition: all 0.8s ease-in-out;
		padding-right: px-to-rem(42px);
	}

	.open {
		display: none;
	}
}

.resources-faq[open] {
	.resources-faq-body {
		height: fit-content;
		transition: all 0.8s ease-in-out;
	}
	.open {
		display: flex;
	}
	.closed {
		display: none;
	}
}
